.buttonMain{
  height: 45px;
  
  border-radius: 4px;
  border: none;
  background: rgb(60, 60, 60);
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  overflow: hidden;
}
.buttonMain:nth-child(1){
  grid-column: 1 / 3;
  grid-row: 1;
  width: 50%;
}
.buttonMain:nth-child(5){
  grid-column: 6 / 8;
  grid-row: 1;
  width: 50%;
}
.buttonMain:nth-child(9){
  grid-column: 11 / 13;
  grid-row: 1;
  width: 50%;
}
.buttonMain:nth-child(27){
  grid-column: 14 / 17;
  grid-row: 2;
}
.buttonMain:nth-child(28){
  grid-column: 1 / 3;
  grid-row: 3;
}
.buttonMain:nth-child(41){
  grid-column: 15 / 17;
  grid-row: 3 / 5;
  height: 96%;
}
.buttonMain:nth-child(42){
  grid-column: 1 / 3;
  grid-row: 4;
}
.buttonMain:nth-child(55){
  grid-column: 1 / 3;
  grid-row: 5;
}
.buttonMain:nth-child(67){
  grid-column: 15 / 17;
}
.buttonMain:nth-child(71){
  grid-column: 4 / 14;
}
.buttonMain:active {
  background: rgba(255, 255, 255, 0.12);
}

