.keyboard {
  position: fixed;
  left: 0;
  /* top: 0; */
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
}

.keyboard--hidden {
  bottom: -100%;
}

.keys {
  text-align: center;
}

.key {
  height: 45px;
  width: 6%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: rgb(60, 60, 60);
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.key:active {
  background: rgba(255, 255, 255, 0.12);
}

.keyWide {
  width: 12%;
}

.keyExtraWide {
  width: 36%;
  max-width: 500px;
}

.keyActivatable::after {
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.keyActive::after {
  background: #08ff00;
}

.keyDark {
  background: rgba(0, 0, 0, 0.25);
}
.text{
  margin: 0 auto;
  display: flex;
  width: calc(100% - 20px);
  max-width: 1400px;
  height: 200%;
  resize: none;
}
