.textarea{
    display: flex;
    width: calc(98% - 30px);
    margin: 0 auto;
    max-height: 250px;
    background-color: aliceblue;
    overflow: auto;
    padding: 0 10px;
    resize: none;
    font-size: 1.2rem;
}